ion-content {
  --background: #121212;
  color: white;
  padding-top: 0; /* Remover qualquer padding extra no topo */
}

ion-header {
  --padding-top: 0px; /* Reduzir o padding superior do header */
}

.section {
  margin: 16px;
}

ion-card {
  background: transparent;
  border: none;
  box-shadow: none;

  img {
    border-radius: 12px;
  }

  ion-card-content {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
  }
}

ion-searchbar {
  --background: #1e1e1e;
  margin: 12px;
  border-radius: 12px;
}


/*ion-content {
    --background: #121212;
    color: white;
  }
  
  .section {
    margin: 16px;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 12px;
    color: #ffffff;
  }
  
  ion-card {
    background: transparent;
    border: none;
    box-shadow: none;
  
    img {
      border-radius: 12px;
    }
  
    ion-card-content {
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      color: #ffffff;
    }
  }
  
<<<<<<< HEAD
  ion-searchbar {
    --background: #1e1e1e;
    margin: 12px;
    border-radius: 12px;
  }*/
=======
  ion-button {
    --color: var(--ion-color-primary);
    --background: transparent;
  }
  
  ion-button ion-icon {
    margin-right: 5px;
  }
>>>>>>> da65c490885bc0986e108961467f098269d37d40
  