.favorites-container {
    padding: 16px;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;

    ion-card {
      background: var(--ion-background-color, #222);
      color: var(--ion-text-color, #fff);
      width: 75%;
      height: auto;
      border-radius: 8px;
      object-fit: cover;
      box-shadow: none;
      overflow: hidden;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: scale(1.05);
      }
      
      img.poster {
        width: 100%;
        height: auto;
        border-bottom: 2px solid var(--ion-color-primary);
      }
  
      ion-card-content {
        text-align: center;
  
        h2 {
          font-size: 1.2rem;
          margin: 8px 0;
        }
  
        ion-button {
          margin-top: 8px;
          --background: var(--ion-color-danger);
          --background-hover: var(--ion-color-danger-shade);
          --border-radius: 8px;
        }
        .center-title {
            text-align: center;
            width: 100%;
          }
      }
    }

  }
