:root {
    --ion-background-color: #121212; 
    --ion-text-color: #ffffff;      
  }
  body {
    font-family: 'Poppins', sans-serif;
  }  
  ion-content {
    --background: linear-gradient(180deg, #1c1c1c 0%, #0e0e0e 100%);
  }
  body {
  font-family: 'Poppins', sans-serif;
}
