.home-content {
  --background: linear-gradient(to bottom, #1b1b1b, #0f0f0f);
  text-align: center;
  color: var(--ion-color-secondary);

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

    .hero-text {
      h1 {
        font-size: 24px;
        font-weight: 600;
      }
      p {
        font-size: 16px;
        color: var(--ion-color-secondary, #999);
      }
      .enter-button {
        margin-top: 20px;
        background-color: var(--custom-green);
        border-radius: 30px;
      }
    }
  }
}
