<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <div class="hero">
    <!-- Imagem no topo -->
    <div class="hero-image">
      <img src="assets/images.home/Ellipse 1.png" alt="Realidade Virtual">
    </div>

    <!-- Texto e botão -->
    <div class="hero-text">
      <h1>Encontre os melhores<br>filmes em catálogo</h1>
      <p>Sua melhor maneira de buscar filmes</p>
      <ion-button (click)="goToFilmes()" class="enter-button">Entre</ion-button>
    </div>
  </div>
</ion-content>
