<ion-content class="home-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="hero">
    <!-- Imagem no topo -->
    <div class="hero-image">
      <img src="assets/images.home/Ellipse 1.png" alt="Realidade Virtual">
    </div>

    <!-- Texto e botão -->
    <div class="hero-text">
      <h1>Find the best<br>films in catalog</h1>
      <p>Your best way to search for movies</p>
      <ion-button (click)="goToFilmes()" class="enter-button">Enter</ion-button>
    </div>
  </div>
</ion-content>
