<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detalhes</ion-title>
      <div *ngIf="movie">
        <h1>{{ movie.title }}</h1>
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
        <p>Lançamento: {{ movie.release_date | formatDate }}</p>
        <p>{{ movie.overview }}</p>
      </div>      
    </ion-toolbar>
  </ion-header>
</ion-content>
